@ViewData["Title"] = "Log In";

<center>
	<h1 class="text-danger">ورود با سرویس خارجی با خطا مواجه شد</h1>
	<a asp-action="Login" asp-controller="Auth">برای تلاش مجدد روی این لینک کلیک کنید </a>
</center>

