@model IdentityProject.Models.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
    // var ReturnUrl = ViewBag.ReturnUrl as string;
}
<center>
    <h1>Forgot Password</h1>

    <hr class="col-md-6" />

    <div class="row">
        <center>
            <div class="col-md-5">
                <form asp-action="ForgotPassword" asp-antiforgery="true" method="post"> @* asp-route-returnUrl="@ReturnUrl" *@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div><br />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div><br />
                    
                    <div class="form-group">
                        <button type="submit" value="Send Code" class="btn btn-success">Send Code To Email</button>
                    </div>
                </form>
            </div>
        </center>
    </div>
</center>
<div>
    <a asp-controller="Home" asp-action="Index">Back To Home</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}